/StretchChirpControlPanel.java
/Chirp-duplicateControlPanel.java
/VeeControlPanel.java
/AbsaControlPanel.java
/Adjustable_LPF_1PControlPanel.java
/AliaserControlPanel.java
/ChirpControlPanel.java
/ChorusControlPanel.java
/ChorusQuadControlPanel.java
/ControlMixer_2_to_1ControlPanel.java
/ControlMixer_3_to_1ControlPanel.java
/Crossover_4PControlPanel.java
/DrumDelayControlPanel.java
/ExpControlPanel.java
/FlangerControlPanel.java
/Glitch_shiftControlPanel.java
/HPF_RDFXControlPanel.java
/Half_WaveControlPanel.java
/InstructionTestControlPanel.java
/LFO_ValueControlPanel.java
/LPF_RDFXControlPanel.java
/LogControlPanel.java
/MN3011aControlPanel.java
/MinReverb2ControlPanel.java
/Mixer_2_to_1ControlPanel.java
/Mixer_3_to_1ControlPanel.java
/Mixer_4_to_1ControlPanel.java
/Mixer_4_to_2ControlPanel.java
/MultiplyControlPanel.java
/New_OscillatorControlPanel.java
/NotchControlPanel.java
/OctaveControlPanel.java
/OutputControlPanel.java
/PatternGeneratorControlPanel.java
/Peak_EnvelopeControlPanel.java
/Phase_InvertControlPanel.java
/Pitch_shift_testControlPanel.java
/PluckControlPanel.java
/ReverseDelayControlPanel.java
/SVF_2P_adjustableControlPanel.java
/SampleHoldControlPanel.java
/Shelving_HipassControlPanel.java
/Shelving_lowpassControlPanel.java
/Sine_Sample_HoldControlPanel.java
/SlicerControlPanel.java
/StutterControlPanel.java
/ToverXControlPanel.java
/TripleTapControlPanel.java
/Two_StageControlPanel.java
/VolumeControlPanel.java
/act_xoverControlPanel.java
/allpassControlPanel.java
/control_smootherControlPanel.java
/crossfadeControlPanel.java
/crossfade_2ControlPanel.java
/crossfade_3ControlPanel.java
/dance_ir_fla_lControlPanel.java
/distControlPanel.java
/eighttapControlPanel.java
/expanderControlPanel.java
/ga_demo_chorusControlPanel.java
/ga_demo_echoControlPanel.java
/ga_demo_echo_repeatControlPanel.java
/ga_demo_flangerControlPanel.java
/ga_demo_phaserControlPanel.java
/ga_demo_vibratoControlPanel.java
/ga_demo_wahControlPanel.java
/gated_verbControlPanel.java
/maxxControlPanel.java
/noise_amzControlPanel.java
/pannerControlPanel.java
/pitch_fourControlPanel.java
/pitchoffset1_2ControlPanel.java
/pitchoffsetControlPanel.java
/pitchupdownControlPanel.java
/ramp_lfo_testControlPanel.java
/reverbControlPanel.java
/reverb_delay_line_01ControlPanel.java
/reverb_hallControlPanel.java
/reverb_plateControlPanel.java
/reverb_roomControlPanel.java
/rms_lim_expControlPanel.java
/rms_limiterControlPanel.java
/rom_rev2ControlPanel.java
/servoControlPanel.java
/shimmer_verbControlPanel.java
/sixtapControlPanel.java
/slow_gearControlPanel.java
/soft_knee_limiterControlPanel.java
/tremolizerControlPanel.java
/very_tight_plate_verbControlPanel.java
/New_EnvelopeControlPanel.java
/rom_rev1ControlPanel.java
